.recent-container {
    position: absolute;
    width: 50%;
    height: auto;
    top: 15%;
    z-index: 1;
}

.title-text {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.title-text.small {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.logs-container {
    width: 600px;
    height: auto;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #f0f4f7;

    padding: 10px 10px 10px 20px
}

.logs-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logs-graph {
    width: auto;
    height: 200px;
    border-radius: 10px;
    background-color: white;
}

